!!!5
html
	head
		meta(charset='UTF-8')
		title ios fun2
		link(rel="stylesheet", type="text/css", href="css/main.css")
	
	body
		include assets.svg

		svg(viewBox="0 0 1000 1000")
			g(mask="url(#mask2)")
				rect(fill="#ccc", width="100%", height="100%")

				svg(id="process", x="163", width="0")
					svg(width="1000", viewBox="0 0 1000 1000")
						rect(id="rainbow", x="-1000", fill="url(#gradient-pattern)", width="2000", height="2000")

					//- rect(id="id1", transform="rotate(0)", fill="url(#gradient-pattern)", width="100%", height="100%")

		script(src="js/tween.min.js")
		script(src="js/main.js")


		script
			window.Loading = new window.Loading({
				//- text -> progress transition time, ms /* default 500 */
				transition: 500,
				//- text -> progress delay time, ms, /* default 4000 */
				delay: 4000,
				//- background change time, ms, /* default 35000 */
				rainbowTime: 35000,
				//- particle delay time, ms, /* default 1 */
				particleDelay: 1
			});

			i = 0;
			setTimeout(function(){
				window.Loading.setProgress(10)
			}, 1000);

			setTimeout(function(){
				window.Loading.setProgress(20)				
			}, 2000);

			setTimeout(function(){
				window.Loading.setProgress(50)				
			}, 5000);


			setTimeout(function(){
				window.Loading.setProgress(90)				
			}, 8000);

			setTimeout(function(){
				window.Loading.setProgress(100)				
			}, 9000);


//- <gg(filter="url(#color-shadow-2)"></g>








