!!!5
html
	head
		meta(charset='UTF-8')
		title ios fun2
		link(rel="stylesheet", type="text/css", href="css/main.css")
	
	body
		include assets.svg
		//- include loading.svg

		svg(viewBox="0 0 1000 1000")
			g(mask="url(#mask2)")
				rect(fill="#ccc", width="100%", height="100%")

				svg(id="process", x="163", width="0")
					svg(width="1000", viewBox="0 0 1000 1000")
						rect(id="rainbow", x="-1000", fill="url(#gradient-pattern)", width="2000", height="2000")

					//- rect(id="id1", transform="rotate(0)", fill="url(#gradient-pattern)", width="100%", height="100%")

		script(src="js/tween.min.js")
		script(src="js/main.js")


		script
			i = 0;
			window.Main.setProgress(90)










